$primary-color: rgb(5, 12, 156);
$secondary-color: rgb(58, 190, 249);

$white-color: rgb(255, 255, 255);
$black-color: rgb(0, 0, 0);
$coral-color: rgb(255, 127, 80);
$blue-color: rgb(0, 0, 255);
$red-color: rgb(255, 0, 0);

$border-bottom-color: rgb(235, 238, 244);
$box-shadow-color: rgba(0, 0, 0, 0.2);
$prev-next-background-color: rgba(204, 204, 204, 0.15);
$dot-background-color: rgba(187, 187, 187, 0.4);
$dot-active-background-color: rgb(187, 187, 187);
$news-background-color: rgba(0, 0, 0, 0.03);
$news-box-shadow-color: rgba(0, 68, 255, 0.3);

$linear-gradient-color: linear-gradient(0deg,rgba(5, 12, 156, 1) 0%,rgba(54, 129, 241, 1) 100%,rgba(58, 190, 249, 1) 100%);
$radial-gradient-color: radial-gradient(circle,rgba(23, 222, 230, 0.42620798319327735) 0%,rgba(8, 38, 230, 0.4542191876750701) 100%);

$box-shadow-color: #00000033;
