<div
  class="footer-intranet container-fluid d-flex align-items-center py-2 text-light fixed-bottom"
>
  <!-- left -->
  <div class="footer-left me-auto">
    @copy Copyright 2024 -
    <a class="text-reset fw-bold" href="#">QSL</a>
  </div>
  <!-- right -->
  <div class="footer-right">
    Contact:
    <a class="text-reset fw-bold" href="#">support@qsl.net.vn</a>
  </div>
</div>