<!-- footer intranet -->
<div class="footer-intranet container-fluid d-flex align-items-center py-2 text-light">
  <!-- left -->
  <div class="footer-left me-auto">
    &copy; 2024 -
    <a class="text-reset fw-bold text-decoration-none" href="#">QSL</a>
  </div>

  <!-- right -->
  <div class="footer-right">
    Contact:
    <a class="text-reset fw-bold text-decoration-none" href="#">support@qsl.net.vn</a>
  </div>
</div>