<!-- create-content-intranet -->
<div class="create-content-intranet">
  <div class="content-container m-0 p-0">

    <div class="create-content-box">
      {{!-- <div class="backButton ms-4">
        <i class="fa-solid fa-left-long"></i>
      </div> --}}
      <button class="backButton">
        <svg height="16" width="16" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1024 1024"><path d="M874.690416 495.52477c0 11.2973-9.168824 20.466124-20.466124 20.466124l-604.773963 0 188.083679 188.083679c7.992021 7.992021 7.992021 20.947078 0 28.939099-4.001127 3.990894-9.240455 5.996574-14.46955 5.996574-5.239328 0-10.478655-1.995447-14.479783-5.996574l-223.00912-223.00912c-3.837398-3.837398-5.996574-9.046027-5.996574-14.46955 0-5.433756 2.159176-10.632151 5.996574-14.46955l223.019353-223.029586c7.992021-7.992021 20.957311-7.992021 28.949332 0 7.992021 8.002254 7.992021 20.957311 0 28.949332l-188.073446 188.073446 604.753497 0C865.521592 475.058646 874.690416 484.217237 874.690416 495.52477z"></path></svg>
        <span>Back</span>
    </button>
      <form id="uploadform">
        <div class="first-row">
          <label class="fw-bold" for="title-input">Title</label>
          <input
            class="input-box border-0"
            type="text"
            name="title"
            id="title-input"
            placeholder="Enter your content title.."
          />
        </div>

        <div class="third-row">
          <label class="fw-bold" for="content-area">Content</label>
          <div id="quill-editor-content" class="bg-white">
            <textarea
              class="input-box border-0"
              name="text_content"
              id="content-area"
              placeholder="Write something.."
            ></textarea>
          </div>
        </div>

        <div class="fourth-row">
          <label class="fw-bold">Upload</label>
          <label class="fw-bold bg-dark-subtle" for="Upload"><i
              class="fa-solid fa-image"
            ></i>
            Choose Pictures</label>
          <label class="fw-bold bg-dark-subtle" for="uploadFile"><i
              class="fa-solid fa-file"
            ></i>
            Attach Files</label>
          <label class="clearBtn fw-bold bg-dark-subtle"><i
              class="fa-solid fa-delete-left"
            ></i>
            Clear All</label>
          <input
            type="file"
            accept="image/jpeg , image/png , image/jpg , image/webp , image/heif , image/svg"
            id="Upload"
            name="Imgfiles"
            hidden
            multiple
          />
          <input type="file" id="uploadFile" accept=".pdf, .doc, .docx, .xls, .xlsx, .ppt, .pptx, .txt" name="files" hidden multiple/>
          <div class="file-container d-flex flex-wrap">
            
          </div>
          <div class="img-container d-flex flex-wrap">

          </div>
        </div>

        <div class="last-row text-center">
          <input type="button" class="fw-bold cancelButton" value="Cancel" />
          <input class="fw-bold" type="button" value="Review" />
          <input
            class="fw-bold text-white"
            type="submit"
            value="Submit"
            id="submit-btn"
          />
        </div>
      </form>
    </div>
  </div>
</div>

<div class="review-content-intranet bg-white">
  <div class="view-content-intranet">
    <div class="row justify-content-center m-0">
      <div class="col-12 bg-white content-view">
        <div class="d-flex justify-content-end">
          <button
            type="button"
            class="btn btn-outline-danger closeBtn rounded-0 m-0"
          >
            <i class="fa-solid fa-x text-black"></i>
          </button>
        </div>

        <div class="slideshow-container position-relative">
          <a
            class="prev text-decoration-none text-body-tertiary fw-bold"
            onclick="plusSlides1(-1)"
          >&#10094;</a>
          <a
            class="next text-decoration-none text-body-tertiary fw-bold"
            onclick="plusSlides1(1)"
          >&#10095;</a>
        </div>

        <div class="text-center"></div>
        <h5></h5>
        <div class="content_area_for_review"></div>
      </div>
    </div>
  </div>
</div>