<div class="document-intranet d-flex p-0">
  <div class="leftCol col-3">
    <div class="searchDiv d-flex align-items-center justify-content-between gap-2 flex-wrap mb-3">
      <!-- Search + Filter group -->
      <div class="input-group" style="max-width: 300px;">
        <input type="text" id="searchInput" class="form-control" placeholder="Search documents..." />
        <button class="btn btn-outline-secondary" type="button">
          <i class="fa-solid fa-filter me-1 "></i> Filter
        </button>
      </div>

      
    </div>

    <div class="smallDocArea row d-flex flex-column folder-tree-modern">
      <ul class="tree">
        
      </ul>
    </div>
  </div>
  <div class="rightCol col-9 mainArea ms-4 position-relative">
  
  </div>
</div>