<!-- manage-posts-intranet -->
<div class="manage-posts container-fluid">
    <h6>Manage Posts</h6>
    <table class="table datatable">
        <thead>
            <tr>
                <th class="id">ID <i class="fa-solid fa-sort"></i></th>
                <th class="title">Title</th>
                <th class="content">Content</th>
                <th class="date-time">Date/Time <i class="fa-solid fa-sort"></i></th>
                <th class="status">Status</th>
                <th class="select">Select</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>
                <td>1</td>
                <td class="title">STANDARD FACTORY B - ANNUAL ORGANIZATION FOR FIREFIGHTING & EVACUATION DRILL</td>
                <td class="content">At 15:00 on this Friday, 15th Nov 2024, TTC will be coordinated with Fire Department
                    of Tan Thuan Export Processing Zone (EPZ) TTC will be coordinated with Fire Department of Tan Thuan
                    Export Processing Zone (EPZ) TTC will be coordinated with Fire Department of Tan Thuan Export
                    Processing Zone (EPZ) ted with Fire Department of Tan Thuan Export Processing Zone (EPZ) TTC will be
                    coordinated with Fire Department of Tan Thuan Export Processing Zone (EPZ) ted with Fire Department
                    of Tan Thuan Export Processing Zone (EPZ) TTC will be coordinated with Fire Department of Tan Thuan
                    Export Processing Zone (EPZ) </td>
                <td>2005/02/11 13:59:20</td>
                <td>Active</td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm">Edit</button>
                    <button type="button" class="btn btn-secondary btn-sm">Hide</button>
                    <button type="button" class="btn btn-danger btn-sm">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>