<!-- register intranet -->
<div class="login-intranet register-intranet container-fluid">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
      <!-- <div class="col-8"> -->
      <!-- logo QSL -->
      <img class="mb-4 container-fluid" src="imgs/qsl-logo.png" alt="logo-QSL" />
      <form id="registerForm" action="register/tfa" method="post">
        <div class="d-flex">
          <div class="left col-6 container-fluid">
            <div class="fullname">
              <label class="form-label fw-bold">Full Name <span class="text-danger">*</span></label>
              <input type="text" id="regis-fullname" class="form-control border-white" name="fullname"
                autocomplete="username">
              <!-- alert error email -->
              <div class="alert m-0 p-0">
                <p class="emailalert mx-2 my-0 text-danger fst-italic text-end fw-light" for="alert-error-email">Enter full name
                </p>
              </div>
            </div>
            <div class="email ">
              <label class="form-label fw-bold">Email Address <span class="text-danger">*</span></label>
              <div class="input-group">
                <input id="regis-email" class="form-control border-white" name="email"
                  autocomplete="email">
                <button class="btn btn-light" type="button" id="button-addon1" tabindex="-1"></button>
              </div>
              <!-- alert error email -->
              <div class="alert m-0 p-0">
                <p class="emailalert mx-2 my-0 text-danger fst-italic text-end fw-light" for="alert-error-email">Enter email
                  address</p>
              </div>
            </div>
            <div class="role">
              <label class="form-label fw-bold">Role <span class="text-danger">*</span></label>
              <select class="form-select border-white" id="regis-role" aria-label="Default select example" disabled>
                <option value="Member">Member</option>
              </select>
              <!-- alert error email -->
              <div class="alert m-0 p-0">
                <p class="emailalert mx-2 my-0 text-danger fst-italic text-end fw-light" for="alert-error-email">Select role</p>
              </div>
            </div>
            <div class="password ">
              <label class="form-label fw-bold">Password <span class="text-danger">*</span></label>
              <div class="input-group">
                <input type="password" id="regis-pass" class="form-control border-white" name="password" autocomplete="new-password">
                <button type="button" tabindex="-1" class="btn btn-light"><i class="fa-regular fa-eye-slash"></i></button>
              </div>
              <!-- alert error email -->
              <div class="alert m-0 p-0">
                <p class="emailalert mx-2 my-0 text-danger fst-italic text-end fw-light" for="alert-error-email">Enter password
                </p>
              </div>
            </div>
            <div class="confirmPass">
              <label class="form-label fw-bold">Confirm Password <span class="text-danger">*</span></label>
              <input type="password" id="regis-confirmPas" class="form-control border-white" autocomplete="new-password">
              <!-- alert error email -->
              <div class="alert m-0 p-0">
                <p class="emailalert mx-2 my-0 text-danger fst-italic text-end fw-light" for="alert-error-email">Enter password
                </p>
              </div>
            </div>
            <div class="d-flex flex-column align-items-between fst-italic fw-light">* Password must be at least 8
              characters long, including 1 uppercase letter, 1 number, and 1 special character.</div>
          </div>
          <div class="right col-6 container-fluid">
            <div class="deparment">
              <label class="form-label fw-bold">Department <span class="text-danger">*</span></label>
              <select class="form-select border-white" aria-label="Default select example" id="datalistOptions6">
                <option value="Corporate">Coporate</option>
                <option value="Operation">Operation</option>
                <option value="Inventory">Inventory</option>
                <option value="Logistics">Logistics</option>
                <option value="Guest">Guest</option>
              </select>
              <!-- alert error email -->
              <div class="alert m-0 p-0">
                <p class="emailalert mx-2 my-0 text-danger fst-italic text-end fw-light" for="alert-error-email">Enter deparment
                </p>
              </div>
            </div>
            <div class="position">
              <label class="form-label fw-bold">Position <span class="text-danger">*</span></label>
              <input class="form-control border-white" id="regis-position" list="datalistOptions3" 
                name="position">
              <datalist id="datalistOptions3">
                <option value="Junior Developer">
                <option value="Technician">
                <option value="HR Officer">
                <option value="Guest">
              </datalist>
              <!-- alert error email -->
              <div class="alert m-0 p-0">
                <p class="emailalert mx-2 my-0 text-danger fst-italic text-end fw-light" for="alert-error-email">Enter position
                </p>
              </div>
            </div>
            <div class="site">
              <label class="form-label fw-bold">Site <span class="text-danger">*</span></label>
              <select class="form-select border-white" aria-label="Default select example" id="datalistOptions4">
                <option value="Australia">Australia</option>
                <option value="Thailand">Thailand</option>
                <option value="New Zealand">New Zealand</option>
                <option value="Philippines">Philippines</option>
                <option value="Vietnam">Vietnam</option>
              </select>
              <!-- alert error email -->
              <div class="alert m-0 p-0">
                <p class="emailalert mx-2 my-0 text-danger fst-italic text-end fw-light" for="alert-error-email">Select site</p>
              </div>
            </div>
            <div class="address">
              <label class="form-label fw-bold">Office Address <span class="text-danger">*</span></label>
              <select class="form-select border-white" aria-label="Default select example" id="datalistOptions5">
                <option value="Silverwater">Silverwater</option>
                <option value="Auckland">Auckland</option>
                <option value="Bangkok">Bangkok</option>
                <option value="Manila">Manila</option>
                <option value="HoChiMinh">HoChiMinh</option>
              </select>
              <!-- alert error email -->
              <div class="alert m-0 p-0">
                <p class="emailalert mx-2 my-0 text-danger fst-italic text-end fw-light" for="alert-error-email">Select office
                  address</p>
              </div>
            </div>
            <div class="offNum">
              <label class="form-label fw-bold">Office Number <span class="text-danger">*</span></label>
              <input type="text" id="regis-phone" class="form-control border-white" name="office-number">
              <!-- alert error email -->
              <div class="alert m-0 p-0">
                <p class="emailalert mx-2 my-0 text-danger fst-italic text-end fw-light" for="alert-error-email">Enter office
                  number</p>
              </div>
            </div>
          </div>
        </div>

        <div class="login text-center mt-2 pt-2 d-flex justify-content-between mx-2">
          <button type="button" class="btn backBtn btn-outline-secondary w-auto border-0"><i class="fa-solid fa-circle-left"></i> Go Back</button>
          <!-- login button -->
          <input class="btn btn-primary btn-lg" id="submitbtn" type="submit" value="Submit" />
        </div>
      </form>
    </div>
  </div>
</div>